body{
    display: flex;
    justify-content: center;
}


.calculator-frame{
    height: 400px;
    width: 350px;
    border: 3px, solid green;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-right: 10px;

}

.display{
    width:345px;
    height: 70px;
    border: 1px solid green;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: right;
    
}

/*.left-buttons{
    
}
.right-buttons{
    
}*/
.keys{
    display: flex;
    background-color: black;
}



.left-buttons, .right-buttons{
    color: white;
    height: 20px;
    width: 20px;
    margin: 15px;
    border: 1px solid white;
    padding:10px;
    border-radius: 10px;
}

.left-keys{
    display:flex;
    flex-wrap:wrap;
    padding: 10px;
    justify-content: space-between;
}

.right-keys{
    display:flex;
    flex-wrap:wrap;
    padding: 10px;
    justify-content: space-between;
}